body {
  color:#222831;
}


.top-bar,
.top-bar ul {
  background: #222831;
  color: #FD7014;
}
.top-bar a {
  color: #FD7014;
}
.top-bar a:hover {
  background: #393E46;
}

.dropdown.menu .submenu {
  background: #EEEEEE;
  box-shadow: 1px 5px 5px rgba(33,33,33,.2);
 }


.dropdown.menu .submenu a {
  color: #222831;
  border-bottom: 1px solid #ddd;
}

.dropdown.menu .submenu a:hover,
.dropdown.menu .submenu a:focus {
  background: #fff;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
  border-color: #FD7014 transparent transparent;
}

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }


.button {
  background: #FD7014;
  color: #EEEEEE;
  font-weight: bold;
}
.button:hover,
.button:focus {
  background: #FF9714;
}


.callout.secondary {
  background:#393E46;
  color: #eee;
}
.callout.secondary a {
  color: #FD7014;
}
.callout.secondary a:hover,
.callout.secondary a:focus {
  color: #FF9714;
  background: #222831;
}

.video-controls {
  position: absolute;
  z-index: 2;
  right: 16px;
}


@charset "UTF-8";
.accordion-navigation > a:after {
  content: "↡";
  padding-left: 5px;
  float: right;
  font-size: 20px; }
.accordion-navigation.active > a:after {
  content: "↟"; }

.footer {
  padding-bottom: 1rem;
}

.callout.footer {
  margin: 4rem 0 0;
}

.shop-callout {
  margin-top: 2rem;
  font-size: 1.5em;
}

.fancy.button {
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #f7f7f7), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
  border: 1px solid rgba(52, 73, 94, 0.2);
  color: rgba(52, 152, 219, 0.7);
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.fancy.button:hover {
  color: #3498db;
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #efefef), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
  border-color: rgba(52, 73, 94, 0.3);
  -webkit-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
  box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
}
.fancy.button:active {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
}



.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff; }
  .header.panel p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem; }
    .header.panel p span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold; }
  .header.panel .sign {
    background: #fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto; }
    .header.panel .sign h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem; }


.cart .callout {
  padding-right: 2rem;
}